//! **************************************************************************
// Written by: Map P.20131013 on Tue Mar 10 14:11:59 2026
//! **************************************************************************

SCHEMATIC START;
NET "clk_i_BUFGP/IBUFG" BEL "clk_i_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

